//////////////////////////////////////////////////
//			Placeholders						//
//////////////////////////////////////////////////


// =============== Helpers =======================

// 		Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// 		Center alignment

%center-align {
	text-align: center;
}


// =============== Buttons ======================

%button {
	@extend %center-align;
 	@include pad-top-bottom(15px);
	font-weight: $font-weight--bold;
	font-size: em(17px);
	border: 0;
	color: $white;
	width: 100%; 
	border-radius: $border--rounded-corners;

}

// =============== Links ========================

%links {
	text-decoration: none;  //	Remove Underlines
	color: $color-secondary;
}

// =============== Images =======================

%img--center {
	display: block;
	@include margin-left-right(auto);
}

//	============= Flex Box ========================

%container-flex {
	display: flex;
	flex-direction: column;
	@include mq(medium) {
		flex-direction: row;
	}
}
