/* ================================= 
  Variables
==================================== */

// ===============Fonts ==========================

$font-url--google: "https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700,900|Raleway:100,300,400,700,900";
$font-family--primary: "Merriweather", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$font-family--secondary: "Raleyway", "Helvetica Neue", Helvetica, Arial,
  sans-serif;

// 		Font weights

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

//		Font size
$base__font-size: 16px;
$base__line-height: 1.5;

// UI Colors

$white: #fff;
$black: #101010;
$grey: #676767;

$sunglo: #e4757a;
$mauve: #927bc1;
$lavender: #deb2ee;
$harvest-gold: #e0b47c;
$granny-smith: #88d9a0;
$shakespeare: #3fabca;
$copperfield: #d9856d;
$neptune: #78c0ab;
$emerald: #63cc82;
$malibu: #51ddfc;
$turqouise: #50e3c2;
$riptide: #80e8d1;
$coral: #fd7856;
$anakiwa: #7ee6fd;
$sea-pink: #ec9fa3;
$vivid-tangerine: #fd9f85;

$color-primary: $turqouise;
$color-secondary: $malibu;

// Buttons Colors

$bt-colors: (
  default: $malibu,
  success: $emerald,
  error: $sunglo,
  warning: $coral,
  info: $mauve
);

// Grid Colors
$grid-colors: (
  $sunglo,
  $mauve,
  $lavender,
  $anakiwa,
  $granny-smith,
  $shakespeare,
  $sea-pink,
  $vivid-tangerine,
  $emerald,
  $malibu,
  $turqouise,
  $riptide
);
// Breakpoints
$brkpoint--mobile: 1px;
$brkpoint--tablet: 769px;
$brkpoint--desktop: 1200px;
// ============= Grid ==============================
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1200px;
