// ==========================================================================
// Buttons
// ==========================================================================

.btn {
  @include bt-colors($bt-colors);
}

[class^="btn--"] {
 	@extend %button;
	 margin-bottom: em(20px, 14px);
	 text-transform: uppercase;
	 margin: 10px em(20px);
	&:hover {
		box-shadow: 0 0 28px 0 rgba($grey, .5);
	}
	@include mq(medium) {
		width: 170px;
	}
}