// ==========================================================================
// 		Grid system
// ==========================================================================

// Center elements

.centered {
  @include mq(medium) {
    margin-left: auto;
    margin-right: auto;
  }
}

// Create grid rows
.grid {
  &__row {
    @extend %clearfix;
    @extend .centered;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: em(15px);
    padding-bottom: em(15px);
    @include mq(medium) {
      flex-direction: row;
    }

    &--12 {
     padding-left: em(5px);
     padding-right: em(5px);
    }
     @include mq(large) {
       max-width: $g-cont-max-w;
    }
  }
}

// create grid columns
.grid__col {
  @include mq(medium) {
    @include g-columns;
  }
}

// Column styles
// Select any class beginning with grid__col--
[class^="grid__col--"] {
  border-radius: $border--rounded-corners;
  padding: em(8px) em(10px);
  margin-top: em(5px);
  margin-bottom: em(5px);
  @include mq(medium) {
    @include doubly(percentage($g-gutter-width / $context));
    min-height: 1px;
  }
}

// style columns when theme colors applied
.theme__colors.grid {
  @include grid-colors($grid-colors);
}
