//////////////////////////////////////////////////
//			Navigation 							//
//////////////////////////////////////////////////

.nav {
  @include flexbox($direction: column);
  @include mq(medium){
    @include flexbox($direction: row, $justify: center);
  }

  &__item {
    text-align: center;
    a {
      display: inline-block;
      color: $grey;
      text-decoration: none;
      padding: 15px;
      border-radius: 5px;
      width: 100%;
      transition: background-color 0.2s ease-in 0.1s;
      &:hover {
        background-color: $color-primary;
      }
    }
  }
}
