/* ================================= 
  Typography
==================================== */

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

.container {
  font-size: $base__font-size;
  font-family: $font-family--primary;
  line-height: ($base__line-height * $base__font-size);
  padding: 20px 20px;
  color: lighten($color: gray, $amount: 2);

  @include mq(large) {
    max-width: em(1200px);
    margin: 0 auto;
  }
}

.headline {
  &--primary {
    text-align: center;
    width: 80%;
    color: $color-primary;
    font-weight: $font-weight--ultra-bold;
    font-size: em(28px);
    line-height: ($base__line-height * 0.8);
    margin-top: 0;
    @include mq(medium) {
      text-align: left;
      padding-left: 20px;
    }
  }
  &--secondary {
    font-weight: $font-weight--light;
    font-size: em(16px);
    margin-bottom: 15px;
  }
}

.link {
  font-weight: $font-weight--bold;
  color: $color-secondary;
  text-decoration: none;
}

.blockquote {
  margin-left: 30px;
  margin-right: 35px;
  margin-top: 30px;
  padding-left: 30px;
  font-weight: $font-weight--medium;
  font-style: italic;
  font-size: em(20px);
  line-height: 1.4em;
  border-left: 8px solid $color-primary;
  border-radius: 10px;
  @include mq(medium) {
    max-width: 700px;
  }
}

.card {
  max-width: 1050px;
}
